
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 160 0% 0%;
    --foreground: 160 0% 98%;
    --card: 160 0% 3%;
    --card-foreground: 160 0% 98%;
    --popover: 160 0% 3%;
    --popover-foreground: 160 0% 98%;
    --primary: 142 76% 36%;
    --primary-foreground: 160 0% 98%;
    --secondary: 160 3.7% 15.9%;
    --secondary-foreground: 160 0% 98%;
    --muted: 160 3.7% 15.9%;
    --muted-foreground: 160 5% 64.9%;
    --accent: 142 76% 36%;
    --accent-foreground: 160 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 160 0% 98%;
    --border: 142 76% 36%;
    --input: 160 3.7% 15.9%;
    --ring: 142 76% 36%;
    --radius: 0.75rem;
    --brand: 27 96% 61%;
    --brand-foreground: 31 97% 72%;
  }
 
  .dark {
    --background: 160 0% 0%;
    --foreground: 160 0% 98%;
    --card: 160 0% 3%;
    --card-foreground: 160 0% 98%;
    --popover: 160 0% 3%;
    --popover-foreground: 160 0% 98%;
    --primary: 142 76% 36%;
    --primary-foreground: 160 0% 98%;
    --secondary: 160 3.7% 15.9%;
    --secondary-foreground: 160 0% 98%;
    --muted: 160 3.7% 15.9%;
    --muted-foreground: 160 5% 64.9%;
    --accent: 142 76% 36%;
    --accent-foreground: 160 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 160 0% 98%;
    --border: 142 76% 36%;
    --input: 160 3.7% 15.9%;
    --ring: 142 76% 36%;
    --brand: 31 97% 72%;
    --brand-foreground: 27 96% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer utilities {
  .delay-100 {
    animation-delay: 100ms;
  }
  .delay-300 {
    animation-delay: 300ms;
  }
  .delay-700 {
    animation-delay: 700ms;
  }
  .delay-1000 {
    animation-delay: 1000ms;
  }
}
