
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme(colors.gray.900);
    --foreground: theme(colors.gray.100);

    --card: theme(colors.gray.800);
    --card-foreground: theme(colors.gray.100);

    --popover: theme(colors.gray.900);
    --popover-foreground: theme(colors.gray.100);

    --primary: theme(colors.emerald.400);
    --primary-foreground: theme(colors.gray.700);

    --secondary: theme(colors.gray.800);
    --secondary-foreground: theme(colors.gray.100);

    --muted: theme(colors.gray.800);
    --muted-foreground: theme(colors.gray.200);

    --accent: theme(colors.emerald.400);
    --accent-foreground: theme(colors.gray.600);

    --destructive: theme(colors.red.500);
    --destructive-foreground: theme(colors.gray.100);

    --border: theme(colors.gray.800);
    --input: theme(colors.gray.200);
    --ring: theme(colors.emerald.400);
    --radius: 0.75rem;
  }
}
 
/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}

@layer base {
  :root {
    --brand: 27 96% 61%;
    --brand-foreground: 31 97% 72%;
  }
  .dark {
    --brand: 31 97% 72%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
